body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-image: url(../assets/background_islamic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#app {
  width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #333;
  text-align: center;
}

table {
  justify-content: center;
  text-align: center;
  align-content: center;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

/* Waktu atau Jam*/
.hero {
  background-image: url(../assets/background_time.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 18vh;
}

.hero p {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.clock {
  font-family: 'Poppins', sans-serif;
  font-size: 72px;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.clock span {
  margin: 0 8px;
}

#hrs,
#min,
#sec {
  transition: all 0.5s ease-in-out;
}

/* .copy-right {
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;

  color: #888;
  font-size: 14px;
}
 */
